
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

.sidebar-header {
    background-color: #343a40;
    color: white;
}

.square {
    width: 50px;
    height: 5px;
    background-color: darkred;
    margin: 0 auto 20px;
}

.navbar-nav {
    margin-top: 30px;
    margin-bottom: 150px;
    margin-left: 5px;
}

.nav-link {
    color: #cfcfcf;
    padding: 70px 60x!important;
}

.nav-link:hover, .nav-link.active {
    background-color: darkred;
    color: white;
}


.content-header h2 {
    font-size: 2rem;
    font-weight: 600;
}

.content-header span {
    font-size: 1.1rem;
    font-weight: 400;
}


.profile-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.table th {
    width: 200px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}

.table-hover tbody tr:hover {
    background-color: #f7f7f7;
}

.table td {
    font-size: 1rem;
}

.text-uppercase {
    text-transform: uppercase;
}
